{% include 'header.html' %}
<script type="text/javascript" src="http://{{domain}}/static/smoothie.js"></script>
<div class="row">

        <div class="col-lg-6">
          Account: {{global['account']}} | Mode:{% if (global['mode']=="trade")%}<span class="btn-warning">Trade</span>{%else%}{{global['mode']}}{%endif%} |<span id="timecost"></span> | <span id="servertime"></span>
            <hr><span id="_portfolio"></span>
            <hr><div id="message"></div>
            <hr>


            <div class="row">
                   <div class="col-xs-3">
                      <h2>{{sym}}</h2>
                    </div>

                    <div class="col-xs-3">
                        <table>
                            <tr><td><button id="buy" type="button" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-arrow-down">BUY</span></button>
                            <td><input id="quant_buy" type="text" class="form-control"  placeholder="0">

                            </td></tr>
                            <!--tr><td><button id="buy" type="button" class="btn btn-xs btn-warning">Limit BUY</button>
                            <td><input id="quant_buy" type="text" class="form-control"></td></tr-->
                        </table>
                    </div>
                    <div class="col-xs-3">
                        <table>
                            <tr><td><button id="sell" type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-arrow-up">SELL</span></button>
                            <td><input id="quant_sell" type="text" class="form-control"  placeholder="0"></td></tr>
                            <!--tr><td><button id="sell" type="button" class="btn btn-xs btn-danger">Limit SELL</button>
                            <td><input id="quant_sell" type="text" class="form-control"></td></tr-->
                        </table>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-xs btn-success" id="clearportfolio"><span class="glyphicon glyphicon-flash">CLOSEPOS</span></button>
                    </div>
            </div>


          <hr>
          Market Data
          <div id="_mkdata_table"></div>
          Trade Info(Memory)
          <div id="_tinfo_table"></div>

          Trade Info(FS)
          <table class="table table-striped table-bordered table-condensed" id="Tradeinfo">
            <thead><tr class="success"><th>SYM</th><th>POS</th><th>avgP</th><th>PNL</th><th>LstP</th><th>Status</th><th>dt</th></tr></thead>
            <tbody>
            <tr>
              <td><b>{{sym}}</b>
              <td>{{tinfo[0]['vo']}}
              <td>{{tinfo[0]['ps']}}
              <td>
              {% for p in tinfo[0]['ps'] %}
                {{ (getLastPrice(sym)[0] - p) * tinfo[0]['vo'][loop.index-1] }}<br>
              {% endfor %}
              <td id="LAST_PRICE_{{s}}">{{getLastPrice(sym)[0]}}
              <td>{{ POSITION_STATUS[tinfo[0]['statuz']]}}
              <td>{{ tinfo[1]}}</td>
            </tr>
            </tbody>
          </table>
          Log
          <textarea rows="10" cols="10" id="log"></textarea>
        </div>

        <div class="col-lg-6">
          Bid-Ask-Trade
          <canvas id="chart" width="100%" height="200"></canvas>
          <hr>
          <div id="YahooDaily"></div>
        </div>
</div>


<script type="text/javascript">
    $(function () {
        $.getJSON('http://{{domain}}/sentosaapp/data/{{sym}}/callback=?', function (data) {
            $('#YahooDaily').highcharts('StockChart', { rangeSelector : { selected : 1 },
                title : { text : '{{sym}} Daily Stock Price' },
                series : [{ name : '{{sym}}', data : data, tooltip: { valueDecimals: 2 } }] });
        });
    });
</script>
<script src="http://{{domain}}/static/highstock/js/highstock.js"></script>
<script src="http://{{domain}}/static/highstock/js/modules/exporting.js"></script>
<script>
    var ws = new WebSocket('ws://{{domain}}/ws');
    var sym = '{{sym}}';
    $( "#buy" ).click(function() {
        var cmd="buy|{{sym}}|"+$("#quant_buy").val()+"|0|0";
        alert(cmd);
        ws.send(cmd);
    });
    $( "#sell" ).click(function() {
        var cmd="sell|{{sym}}|"+$("#quant_sell").val()+"|0|0";
        alert(cmd);
        ws.send(cmd);
    });
    $( "#clearportfolio" ).click(function() {
        alert("CLOSEALL");
        ws.send("CLOSEALL");
    });

</script>
<script src="http://{{domain}}/static/constant.js"></script>
<script src="http://{{domain}}/static/tobj.js"></script>
{% include 'footer.html' %}
